<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.accessmask.native">
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="false"
        android:label="AccessMask"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="org.kivy.android.PythonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="accessmask" />
        </activity>
    </application>
</manifest>
